<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <a href="">
      <%= image_tag "logo.jpg", height: 60 %>
    </a>

    <form action="" class="navbar-wagon-search">
      <%=link_to cocktails_path do%>
        <button type="button" class="btn btn-danger">Home</button>
      <%end%>

      </button>
    </form>

  </div>
</nav>
